@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DataAccess.DataModel.Car>
@{
    ViewBag.Title = "Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Cars</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm("Index", "Car", FormMethod.Get))
            {
                <div class="form-group searchInput">
                    @Html.TextBox("Search", null, new { @class = "form-control ", @placeholder = "Search Car Model..." })
                </div>

            }
        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
            @Html.ActionLink("Add Car", "Add", "Car", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="">
            <th scope="col">Id</th>
            <th scope="col">Car Model</th>
            <th scope="col">Location</th>
            <th scope="col">Price per Day</th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            var count = 0;
            foreach (var item in Model)
            {
                if (count % 2 == 0)
                {
                    <tr class="table-light">
                        <th scope="row">@item.Id</th>
                        <td class="Car"><a>@item.CarModel</a></td>
                        <td>@item.Location</td>
                        <td>RM @String.Format("{0:0.00}", item.PricePerDay)</td>
                    </tr>
                }
                else
                {
                    <tr class="table-primary">
                        <th scope="row">@item.Id</th>
                        <td class="Car"><a>@item.CarModel</a></td>
                        <td>@item.Location</td>
                        <td>RM @String.Format("{0:0.00}", item.PricePerDay)</td>
                    </tr>
                }
                count++;
            }
        }
        catch
        {
            <tr>
                <td colspan="4" style="text-align:center">No Internet Connection
                <td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model,
    page => Url.Action("Index",
        new
        {
            page,
            Search = Request.QueryString["Search"]
        }
    ),
    new PagedListRenderOptions()
    {
        UlElementClasses= new [] {"pagination"},
        LiElementClasses= new [] {"page-item", "page-link"}
    })
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>*@

